 <h4>CECI EST LA FUTUR PAGE PATH POUR LA MARKETPLACE</h4>

<div class="categories-cards">
  <% Category.all.each do |category| %>
      <p><i class="fa fa-check"></i><%= category.name %></p>
  <% end %>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
        <p class="sortby">Trier par
          <%= link_to "création", questions_path(query: "created_at") %>
          <%= link_to "deadline", questions_path(query: "deadline") %>
        </p>
        <div class="questions">
          <%= render "questions/question_cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
