.top-dashboard {
  position: relative;
  margin-bottom: 1em;
}
.banner-dashboard {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  text-align: left;
  vertical-align: bottom;
}


.info-dashboard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
  padding-left: 2em;

}
.info-user {
  text-align: left;
  padding-left: 1.2em;
  h4 {
    color: white;
    font-size: 1em;
    font-weight: bolder;
  }
  p {
    color: white;
    text-align: left;
    font-weight: lighter;
  }
}

/* log out button */
.log-out {
  font-size: 12px;
  text-align: right;
}

.bg-light {
  background-color: #f2f2f2;
  padding-top: 1em;
}

.top-col {
  display: flex;
  justify-content: center;
}

.btn-add {
  margin: 2em;
  border-radius: 6em;
  background-color: #24d6d6;
  transition: 0.5s;
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    color: white;
    background-color: #12a8a8;
  }
}

.sortby {
  color: gray;
  opacity: 0.5;
  text-align: right;
  font-size: 0.8em;
}

.question-card {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: transform .2s;
}

// Catégories en forme de cards dans marketplace

.categories-cards {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-card {
  height: 170px !important;
  width: 85px !important;
  position:relative;
  // background-color: white;
  border-radius: 12px;
  opacity: 0.7;
  text-align: center;
  margin: 0px 30px;
  // background-image: url(/assets/background.jpg);
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.category-card-link {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.category-text {
  opacity: 1!important;
  color:white;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 131px;
}


// Nom de catégorie en majuscules en haut à gauche des cards
.categorie {
  color: #a6a4ae;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.question-card .pending {
  border-left: 0.5em solid #ee6964;
  border-radius: 0.3em;

}

.question-card .answered {
  border-left: 0.5em solid #24d6d6;
  border-radius: 0.3em;
}

.question-card .closed {
  border-left: 0.5em solid gray;
  border-radius: 0.3em;
}

.question-card-content {
  padding: 1em;
  background-color: #F8F9FA;
  text-align: left;
}

.question-card-status {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 0.5em 0em 0.1em 0.5em;
  display: flex;
  align-items: center;
}

.info-status {
  p {
  font-size: 0.7em;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: orange;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.question-card:hover {
  transform: scale(1.05);
}

.wrapper {
  margin-right: 1em;
  position: relative;
}

// .line {
//   background-color: #e2dede;
//   height: 0.5em;

// }

.dots {
  justify-content: space-between;
}
.dot {
  height: 1em;
  width: 1em;
  background-color: #e2dede;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  i {
    color: white;
    font-size: 0.8em;
  }
}

.framboise {
  background-color: #ee6964;
}

.turquoise {
  background-color: #24d6d6;
}

.gray {
  background-color: gray;
}
