// Specific CSS for your home-page
body {
  background-image: linear-gradient(to right bottom, #e53870, #eb5b6a, #ee786b, #ed9373, #ecab83)!important;
  background-size: cover !important;
  background-repeat:no-repeat;
  min-height: 100vh;
}
