.indecision-card {
  background-color: #f2f2f2;
  border-radius: 0.5em;
  margin-top: 2em;
  padding-bottom: 0.1em;
}

.top-card {
  border-radius: 0.5em 0.5em 0em 0em;
  padding: 0.5em;
  color: white;
  margin-bottom: 1em;
  font-size: 0.8em;

}
.top-pending {
  background-color: #aa2540;
}

.top-answered {
  background-color: #24d6d6;
}

.top-closed {
  background-color: gray;
}

.indecision-contenu {
  padding: 0.2em;
}

.option {
  margin-bottom: 2em;
  position: relative;
}


.option-image {
  width: 100%;
}
.option-image-none {
  width: 100%;
  height: 2.5em;
}

.option-zoom {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.2em;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.option-title {
  position: absolute;
  top: 0;
  background-color: rgba(150, 150, 150, 0.6);
  width: 100%;
  color: white;
  padding: 1em;
  padding-left: 4em;

}

.circle {
  position: absolute;
  top: 0;
  margin: 0.6em;
  height: 2.2em;
  width: 2.2em;
  border: white 0.15em solid;
  border-radius: 50%;
  p {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }
}

.flip-btn {
  position: relative;
}
.flip {
  text-align: center;
  border-radius: 3em;
  color: white;
  height: 6em;
  font-size: 0.5em;
  top: 3em;
  position: absolute;
  margin-right: 0;
  right: 1.5em;
  align-items: center;
  background-color: #e5e5e5;
  transition: width .1s;
  padding-bottom: 0;
  padding-left: 0.6em;
  padding-top: 0.3em;
  padding-right: 0.6em;
  width: 3.4em !important;
}

.div-btnrep {
  margin-bottom: -2em;
  margin-top: -0.4em;
}

.add-turquoise {
  color: #24d6d6;
}

.flip:hover {
  width: 20%;
  background-color: #e5e5e5;

}
