<div class="container">
  <div class="sign">
    <h4 class="text-center">Mhh... tu as oublié ton mot de passe ?</h4>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <br/>
      <p class="text-center"> Entre ton adresse e-mail, nous t'enverrons les instructions sur ta messagerie </p>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "C'est parti !", class: 'btn btn-add' %>
      </div>
    <% end %>
  </div>
</div>
