<% if @question.answers.present? %>
  <div class="indecision-card">
    <div class="answers">
      <!-- <h7>Réponses à l'indécision</h7> -->
      <% @question.answers.each_with_index do |answer, index| %>
        <div class="answer">
          <div class="answer-titre">
          <% if answer.user == @question.user %>
             <h4>Réponse de l'indécis</h3>
          <% else %>
            <h4>Réponse de <%= answer.user.pseudo %></h3>
          <% end %>
            <h3><%= answer.option.titre %></h4></br>
          </div>
          <div class="asnwer-photo">
            <% if answer.option.photo.present? %>
              <%= cl_image_tag answer.option.photo, crop: :fill, class: 'option-image' %>
            <% else %>
              <div class="answer-image-none"></div>
            <%end%>
          </div>
          <p style="color: #a5a5a5; margin-top: 1em;"> Commentaire :</p>
          <div class="answer-reponse">
            <p><%= answer.reponse %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

