  <div class="winner">
    <%= image_tag ("https://i2.wp.com/myaeon.com.au/wp-content/uploads/2017/04/avatar-round-1.png?zoom=2&fit=300%2C300&ssl=1"), class: 'avatar-bordered avatar-classement' %>
    <p>joli_pseudo</p>
    <div class="number2">
      <h5 style="color: white; text-align: center;">2</h5>
    </div>
  </div>

  <div class="winner">
    <%= image_tag ("https://i2.wp.com/myaeon.com.au/wp-content/uploads/2017/04/avatar-round-1.png?zoom=2&fit=300%2C300&ssl=1"), class: 'avatar-bordered avatar-classement' %>
    <p>joli_pseudo</p>
    <div class="number1">
      <%= image_tag "badge-06.png", width: 50 %>
      <h5 style="color: white; text-align: center;">1</h5>
    </div>
  </div>

  <div class="winner">
    <%= image_tag ("https://i2.wp.com/myaeon.com.au/wp-content/uploads/2017/04/avatar-round-1.png?zoom=2&fit=300%2C300&ssl=1"), class: 'avatar-bordered avatar-classement' %>
    <p>joli_pseudo</p>
    <div class="number3">
      <h5 style="color: white; text-align: center;">3</h5>
    </div>
  </div>
