  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h5 style="margin-bottom: 0; color:white;">Fais comme eux, prends tes décisions avec Heliast</h5>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://media1.giphy.com/media/yoJC2GnSClbPOkV0eA/giphy.gif" style="width: 100px;height:100px;">
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                </div>
                <div class="col-sm-9">
                  <p>Vraiment cool ! Je ne mets plus 20 ans pour savoir où manger ou choisir entre deux t-shirts... La journée devient fun et ludique !</p>
                  <h8 style="font-size: 0.7em;color: white; opacity: 0.7;">- Sophie</h8>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://media.giphy.com/media/nFjDu1LjEADh6/giphy.gif" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Etre ou ne pas être, j'ai enfin pu faire un choix. Merci Heliast !</p>
                  <h8 style="font-size: 0.7em;color: white; opacity: 0.7;">- Hamlet </h8>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://media.giphy.com/media/3NtY188QaxDdC/giphy.gif" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Un inconnu c'est un nouveau point de vue... et c'est mystérieux : quelqu'un que je ne connais pas décide pour moi ! J'adore !</p>
                  <h8 style="font-size: 0.7em;color: white; opacity: 0.7;">- Louise</h8>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>

  <div class="more-bottom"></div>

