.commentaire {
  display: flex;
  margin-bottom: 2em;
  .commentaire-img {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .commentaire-content {
    flex-grow: 1;
    margin-right: 0.5em;
  }
  strong {
    font-weight: 800;
    margin-bottom: 1em;
  }
  .option-commentaire {
    font-weight: 600;
    color: #E5406E;
    border-radius: 10%;
    padding: 0.1em 0.3em;
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 0.8em;
  }
}
