body {
  background-image: linear-gradient(to right bottom, #e53870, #eb5b6a, #ee786b, #ed9373, #ecab83)!important;
}
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background-image: linear-gradient(to right top, #89c4bb, #90c7be, #96c9c1, #9dccc4, #a3cec7);
  color: white;
  opacity: 1;
  }
}

.remove {
  display: flex;
}

.checkbox {
  background-color: black;
}
