/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-image: linear-gradient(to right top, #af2151, #b02a4e, #b1324b, #b13948, #b14046);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* nouvel avatar */
.avatar-nav {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 2px #d99ea4;
}

/* Icones */
.icones img {
  color: #d99ea4;
  margin: 20px;
}

.icones img a {
  color: #d99ea4;
  margin: 20px;
}

.icones:hover {
  color: black;
}

/* Pictos */
.pictos li {
  display:inline-block;
  margin: 4px;
  margin-top: 25px
}

/* Page profil active ou non */

.pictos .picto-profil a {
  background-image: image-url('profil.svg');
  width:35px;
  height:35px;
  display: block;
}

.pictos .picto-profil a.active {
  background-image: image-url('profil-active.svg');
  display: block;
}

/* Page classement active ou non */

.pictos .picto-classement a {
  background-image: image-url('classement.svg');
  width:35px;
  height:35px;
  display: block;
}

.pictos .picto-classement a.active {
  background-image: image-url('classement-active.svg');
  display: block;
}



/* Page add active ou non */
.pictos .picto-add a {
  background-image: image-url('add.svg');
  width:35px;
  height:35px;
  display: block;
}

.pictos .picto-add a.active{
  background-image: image-url('add-active.svg');
  display: block;
}

/* Page questions active ou non */
.pictos .picto-questions a {
  background-image: image-url('questions.svg');
  width:35px;
  height:35px;
  display: block;
}

.pictos .picto-questions a.active{
  background-image: image-url('questions-active.svg');
  display: block;
}



/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 2px #d99ea4;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 6px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* affiche les notifs qui ne sont pas encore lues */
.unread {
  border-left: 3px solid red;
}

